{% extends "lbrc_flask/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination %}

{% block content %}
<section>
    <div class="page-header">
        <h1>Add Academic</h1>
        <p>
            This search accesses the internet which can be slow.  To alleviate
            this, the results are limited to 10 people. In order to find
            the correct person in the minimum amount of time, use as
            much of the name as you can and include a location if possible.
            For example, "samani, leicester".
        </p>

        {{ render_search(
            search_form,
            'ui.add_search',
            placeholder='enter search text',
            buttons=[
                {
                    'text': 'Back',
                    'endpoint': 'ui.index',
                },
            ],
        ) }}

    </div>

    <ul class="list-group">
        {% for a in academics %}
            <li class="list-group-item">
                <div class='row'>
                    <div class='col-1'>
                        <form action="{{url_for('ui.add', google_scholar_id=a.scholar_id)}}", method="POST">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-plus-square"></i> Add</button>
                        </form>
                    </div>
                    <div class='col'>
                        <header>
                            <h1>{{a.name}}</h1>
                            <h2>{{a.affiliation}}</h2>
                        </header>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}