{% extends "ui/page.html" %}
{% from "lbrc_flask/form_macros.html" import render_search, render_pagination %}

{% block content %}
<section>
    <div class="page-header">
        <h1>Academics</h1>

        {{ render_search(
            search_form,
            'ui.index',
            placeholder='enter search text - searches names',
            buttons=[
                {
                    'text': 'Add',
                    'endpoint': 'ui.add_search',
                },
                {
                    'text': 'CSV',
                    'endpoint': 'ui.download_csv',
                },
                {
                    'text': 'Excel',
                    'endpoint': 'ui.download_excel',
                },
                {
                    'text': 'Print',
                    'endpoint': 'ui.download_pdf',
                },
            ],
        ) }}

    </div>

    <ul class="list-group">
        {% for a in academics.items %}
            <li class="list-group-item">
                <div class='summary_details row'>
                    <div class="col">
                        <div class="d-flex w-100 justify-content-between">
                            <header>
                                <h1>{{a.name}}</h1>
                                <h2>{{a.affiliation}}</h2>
                            </header>
                            <small>
                                {% if a.is_updating %}
                                    <span>Updating...</span>
                                {% else %}
                                    <a class="lock_screen" href="{{ url_for('ui.add_or_update', google_scholar_id=a.google_scholar_id) }}">last updated {{ a.last_update_date | datetime_humanize }}</a>
                                {% endif %}
                            </small>
                        </div>
                        <table class="table table-sm">
                            <tr>
                                <th>Citations</th>
                                <th>h-index</th>
                                <th>i10-index</th>
                                <th>Publications</th>
                            </tr>
                            <tr>
                                <td>{{a.cited_by}}</td>
                                <td>{{a.h_index}}</td>
                                <td>{{a.i10_index}}</td>
                                <td><a class="lock_screen" href="{{ url_for('ui.publications', academic_id=a.id) }}">{{a.publications | count}}</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{{ render_pagination(academics, 'ui.index', form=search_form) }}

{% endblock %}